{% extends 'base.html.twig' %}

{% block title %}Kontakt TAKTZEIT{% endblock %}

{% block body %}
<style>

</style>

<div class="container-md mt-5">
    {{ form(form) }}
    <span class="text-danger">Pflichtfelder sind mit * gekennzeichnet</span>
</div>
{% endblock %}
