{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="d-flex justify-content-center mt-5">
        {% if user %}
            <div class="component">
                <h1>{{ user.firstName }}</h1>
                <p>{{ user.email }}</p>
                <div class="row justify-content-center mt-3">
                    <a href="{{ path('app_logout') }}" class="btn btn-secondary mr-3">logout</a>
                    <a href="{{ path('edit_user', {'id': user.id}) }}" class="btn btn-primary">edit</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
